# AWS
awsKmsKeyArn: ""
# Slack
## URL (e.g. "hooks.slack.com/services/abc123")
kmsEncryptedHookUrl: ""
## Slack hannel to post (e.g. "#random")
slackChannel: "#"
slackIconEmoji: ":speaker:"
slackUserName: "share message"
